*{
    padding: 0;
    margin:0;
    transition: all 250ms;
    color: rgb(75, 75, 75);
    line-height: 1.3em;
}
body{
    padding: 35px 0;
}
h1,h2,h3,h4,h5,h6,strong{
    color: black;
}
main{
    margin: 0 auto;
    width: 800px;
}
article{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main header h1{
    color: brown;
    border-bottom: 2px solid gray;
}
@media (width<700px){
    main{
        
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
}